@CircularStd: "Circular Std Book" , sans-serif;
@Roboto: "Roboto", sans-serif;
@mediumSizeText: 14px;
@white: #FFFFFF;
@darkBlue: #292949;

* {
    box-sizing: border-box;
}
.header {
    height: 120px;
    background: @white;
}
.footer {
    background: #EEEEF1;
    height: 102px;
}